body {
    font-family: Roboto, sans-serif;

}

header {
    background-color: #1f2937;
    height: 400px;
    padding: 15px 150px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.headparagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.herotext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    flex-basis: 400px;
    
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
    font-size: 18px;
    color: white;
    background-color: gray;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 200px;
}

.headparagraph button {
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.second {
    padding: 30px 150px;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 40px;
}

.secondcontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.imagecontainer {
display: flex;
flex-direction: column;
flex-basis: 160px;
}

.titlecontainer {
    display: flex;
    justify-content: center;
}

img {
    max-width: 160px;
    height: 200px;
}

.subtext {
    margin-top: 10px;
    margin-bottom: 50px;
}